---
Language:        Cpp
BasedOnStyle:  llvm
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 80
ContinuationIndentWidth: 2
Cpp11BracedListStyle: false
KeepEmptyLinesAtTheStartOfBlocks: false
IndentWidth: 2
PointerAlignment: Left

IncludeCategories:
  - Regex:           '<.*\.h>'
    Priority:        2

  - Regex:           '<.*\.hpp>'
    Priority:        2

  - Regex:           '<.*\.hh>'
    Priority:        2

  - Regex:           '<.*\.hxx>'
    Priority:        4

  - Regex:           '<.*'
    Priority:        1

  - Regex:           '.*'
    Priority:        3

PenaltyBreakBeforeFirstCallParameter: 500
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 50
PenaltyBreakString: 150
PenaltyExcessCharacter: 1000
PenaltyReturnTypeOnItsOwnLine: 150
